fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
unstructured[local-inference] 
transformers
torch
sentence-transformers
faiss-cpu
chromadb
datasets
accelerate
bitsandbytes
google-cloud-texttospeech
gTTS
httpx